.main-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 3% 15%;
}

.wappen {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.section-1 {
    display: flex; 
    justify-content: space-between;
}

.section-2 {
    display: flex;
    justify-content: space-between;
}

.questions {
    text-align: right;
}