@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
 
.header-content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.menu-btn {
    margin-right: 1rem;
    cursor: pointer;
}

.header-title {
    font-size: clamp(1.3rem, calc(5vw + 0.8rem), 3rem);
    text-wrap: balance;
    font-family: 'Story Script', cursive;
    cursor: pointer;
}
