@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');


// // Klassen-Definition
// .header-content {
//     padding: 16px 0;
//     font-family: "Monsieur La Doulaise", cursive;
//     font-weight: 500;
//     font-size: 48px;
//     color: #4a3b32;
// }
 

.header-content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.menu-btn {
    margin-right: 1rem;
    cursor: pointer;
}

.header-title {
    font-size: clamp(1.3rem, calc(5vw + 0.8rem), 3rem);
    text-wrap: balance;
    font-family: 'Story Script', cursive;
    
}
